
// Global default params, used in configs
params {
  enable_conda = false
  outdir = "$projectDir/results"
  publish_dir_mode = "copy"
  reads_path = "data/*_R{1,2}_*.fastq.gz"
  genome_path = "/path/to/genome.fasta"
}

// parameters specific to a profile. Override the defaults params, if the same
// scope is applied (ex: params.enable_conda for conda profile)
profiles {
  conda {
    params.enable_conda = true
  }
  docker {
    docker.enabled = true
  }
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
  }
}

// When mixing generic process configuration and selectors the following priority rules
// are applied (from lower to higher: https://www.nextflow.io/docs/latest/config.html#selectors-priority):
// 1. Process generic configuration.
// 2. Process specific directive defined in the workflow script.
// 3. withLabel selector definition.
// 4. withName selector definition.
process {
  // default
  cpus = 1

  // only processes with this label have those parameters
  withLabel: process_high {
    cpus = 4
    memory = 4.GB
  }
}

manifest {
  name = 'cnr-ibba/nf-resequencing'
  author = 'Paolo Cozzi'
  homePage = 'https://github.com/cnr-ibba/nf-resequencing'
  description = 'Resequencing with SNP calls'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.04.0'
  version = '0.1.0dev'
}
