
// Global default params, used in configs
params {
  reads_path = "data/*{1,2}.fastq.gz"
  enable_conda = true
  outdir = "$projectDir/results"
  publish_dir_mode = "copy"
}

profiles {
  conda {
    process.conda = "$projectDir/environment.yml"
  }
}

manifest {
  name = 'cnr-ibba/nf-resequencing'
  author = 'Paolo Cozzi'
  homePage = 'https://github.com/cnr-ibba/nf-resequencing'
  description = 'Resequening with SNP calls'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.04.0'
  version = '1.0dev'
}
